
$theme-light-color-main: #005bea;
$theme-light-color-alt: coral;
$theme-light-color-accent-light: coral;
$theme-light-color-accent-dark: #0046b8;

$color-light: #ededed;
$color-dark: #111;

$theme-dark-color-main: coral;
$theme-dark-color-alt: coral;
$theme-dark-color-accent-light: coral;
$theme-dark-color-accent-dark: coral;

$corners-rounded: 3px;
$corners-circle: 50%;

